<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SeekBack">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name_settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            Activity thu 2: hien thi thanh 1 icon RIENG ngoai man hinh chinh.
            Khong co giao dien (khong setContentView), bam vao la chay
            ngay next -> cho -> quay lai roi tu dong dong (finish()).
        -->
        <activity
            android:name=".QuickNextBackActivity"
            android:exported="true"
            android:label="@string/app_name_quick"
            android:theme="@style/Theme.SeekBack.Transparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            NotificationListenerService la bat buoc de app co the
            "nhin thay" va dieu khien phien nhac (MediaSession) dang phat
            o cac app khac nhu Spotify, YouTube Music, Zing MP3, v.v.
        -->
        <service
            android:name=".NotifListenerService"
            android:label="SeekBack Media Listener"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
